ACCOUNT_HOST=https://bsky.social
ACCOUNT_USERNAME=
ACCOUNT_PASSWORD=
ACCOUNT_LIST_MANAGER_USERNAME=
ACCOUNT_LIST_MANAGER_PASSWORD=
LIST_ID=at://
CURSOR_FILE=./data/.scan-cursor
SCAN_CONCURRENCY=10
DB_PATH=./data/avatars.db
SAVE_AVATARS=false
AVATAR_SAVE_DIR=